<a href="https://colab.research.google.com/github/gayathri26062006/Digital_portfolio/blob/main/Copy_of_Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
num=random.randint(1,100)
print("Random number:",num)

Random number: 55

In [ ]:
x=int(input("enter a value"))
while x<=6:
  print(x)
  x+=1

enter a value3
3
4
5
6

In [ ]:
a = 1
b = 10

for i in range(a, b):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
for i in range(1, 20):
    if i == 15:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19

In [ ]:
def add(a, b):
    print("sum:", a + b)
    print("sub:", a - b)
    print("multiplication:", a * b)
    print("division:", a / b)
    print("modulus:", a % b)
    print("floor division:", a // b)

# Call the function
add(10, 5)

sum: 15
sub: 5
multiplication: 50
division: 2.0
modulus: 0
floor division: 2

In [ ]:
class Sample:
    def greet(self):
        print("welcome to python world")

# Create object and call the method
obj = Sample()
obj.greet()

welcome to python world

In [ ]:
try:
  num=str(input("enter a string:"))
  print("you entered",num)

except ValueError:
  print("Invalid input. Please enter a string")

enter a string:python
you entered python

In [ ]:
car = {
    "car name":"Audi",
    "car model":"Audi A3",
    "car colour":"White",
    "car mileage":"17km/l"
}
print(car["car model"])

Audi A3